<div class="container-edit">
  <div class="row">
    <div class="col col-sm-8 offset-2">
      <h3>Edit <%= @cocktail.name %></h3>
      <%= simple_form_for (@cocktail) do |f| -%>
        <div class="form-group">
          <%= f.input :name %>
        </div>
        <div class="form-group">
          <%= f.input :description %>
        </div>
        <div class="form-group">
          <%= f.input :rating, collection: [1,2,3,4,5], input_html: {value: "Rating"} %>
        </div>
        <div class="form-group">
          <%= f.submit class: "btn btn-primary btn-ghost" %>
        </div>
      <% end -%>
      <div class="box-back">
        <div><%= link_to cocktail_path(@cocktail) do %>
          <i class="fas fa-arrow-left icon"></i>
          <span>Back</span>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
