<% if @cocktail %>
  <div class="container">
    <div class="container-cocktail">
      <img src="<%= @cocktail[:image_url] %>" class="img-cocktail" alt="">
      <div class="content-cocktail">
        <div class="header-content-cocktail">
          <h3><%= @cocktail[:name] %></h3>
        </div>
        <% @cocktail[:doses].each_with_index do |dose, index| %>
          <div class="list-item-ingredient">
            <div>
              <strong><%= @cocktail[:ingredients][index] %><span>:  </span></strong><%= dose %>
            </div>
            <div>

            </div>
          </div>
        <% end %>

        <div class="content-body-cocktail">
          <div class="content-body-text">
            <strong>Served in:  </strong><%= @cocktail[:glass] %>
          </div>
          <div class="content-body-text">
            <strong>Instructions: </strong><%= @cocktail[:description] %>
          </div>
        </div>
        <div class="add-cocktail">
          <%= link_to cocktails_add_path(params[:search]["name"]) do %>
            <i class="fas fa-plus"></i>
            <span>Add <%= params[:search]["name"] %> to your cocktails</span>
          <% end %>
        </div>

        <div class="box-back">
          <div>
            <%= link_to cocktails_path do %>
              <i class="fas fa-arrow-left icon"></i>
              <span>Back to list</span>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>


<% else %>
<div class="container-error">
  <h3>Oops, you broke the internet.</h3>
  <p>(Or more likely, the cocktail you searched for does not exist. Please search again.)</p>
  <div><h3>
    <%= link_to cocktails_path do %>
      <i class="fas fa-arrow-left icon"></i>
      <span>Back to home</span>
    <% end %></h3>
  </div>
</div>
<% end %>
