<h1><%= @cocktail.name %></h1>

<% @doses.each do |dose| %>
  <%= dose.ingredient.name %><span>: </span><%= dose.description %><span> - </span><%= link_to 'Delete', destroy_dose_path %>
  <br />
<% end %>

<%= link_to 'Add dose', new_cocktail_dose_path(@cocktail) %>

<%= link_to 'Edit', edit_cocktail_path(@cocktail) %>

<%= link_to 'Back to list', cocktails_path %>
